@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #c86910, #7a491e);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(255, 179, 73);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
color: #ba5309;
text-align: center;
text-shadow: 1px 1px 2px #f08b42;
}
h2{
color: #811102;
}
p{
    text-align: justify;
}